body {
	padding: 0px;
	margin: 0px;
	}
h1 {
	margin-bottom: 1em;
	font-family: 'Droid Serif', serif;
	text-align: center;
}

h4 p {
	margin-bottom: .2em;
	margin-top: 0px !important;
	}

/* page nav */
.logo {
	max-width: 200px;
	margin: auto 0;
}


nav {
	margin: 0 auto;
}

.top-banner {
	background-color: #000000;
	color:#ffffff;
	height: 40px;
}

.top-banner p{
	padding: 10px;
	}

.top-nav {
	background-color: rgba(203, 203, 203, .5);
	height: 60px;
}


.page-nav {
	padding:20px;
}


.page-nav ul{
	list-style: none;
	text-align: center;
	margin: 0 auto;
    }	

.page-nav li{
	display: inline;
	text-align: center;
	font-weight: 300;
	padding: 10px;
	text-transform: uppercase;
	font-size: 12px;
	}
	
.page-nav a {
	color: #000000;
	text-decoration: none;
	
	}
.page-nav a:hover {
	border-bottom:2px solid white;
	padding-bottom: 5px;
	text-decoration: none;
	}



/*header.intro button {
	border: 2px solid white;
	padding: 20px;
  	border-radius: 5px;
  	font-size: 16px;
  	background-color: transparent;
  	color: white;
  	text-transform: uppercase;
  	font-weight: bold;
}

header.intro button:hover {
	background-color: #ffffff;
	color: black;
	}*/

.img-circle {
	margin-right: 25px;
}
.img-rounded {
	    margin-bottom: 20px;
}

/* Contact */
.contact, .services {
	background-color: #F0F0F0;
	color: #5E5E5E;
	}

/* footer */
.footer {
	background-color: #000;
	}


footer p {
	text-transform: uppercase;
	color: #BEBEBE;;
	letter-spacing: 2px;
	font-size: 10px;
	text-align: center;
}


@media screen and (min-width:780px) {

h4 {
	margin-bottom: .2em;
	}

.introWrap {
	height: 400px;
	padding: 170px 100px 100px 100px;
	text-align: left;
	}

.prop-box {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	}
.container-fluid {
	width: 900px;
} 


section {
	padding: 150px 20px;
	}

footer {
	padding: 50px 20px;
	color: #ffffff;
}
footer > p {
	text-transform: uppercase;
	color: #5E5E5E;
}

		
}

